body {
  background-color:coral;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.root{
  margin-top: 10%;
  margin-left: 50%;
  color:darkblue;
}

.main{
  margin-top: 5%;
  margin-left: 55%;
}

.inputbox{
  margin-left: 45%;
  margin-top: 5%;
}

.inner{
  width:fit-content;
  height:100%;
  background-color: blanchedalmond;
  margin-bottom: 5%;
}

.main1{
  margin-left: 50%;
  margin-top: 5%;
}

button{
  background-color:darkseagreen;
}
